<div class="ui menu">
    <a ng-href="/" class="item">
        Home
    </a>
    <div class="right menu">

    </div>
</div>


<div ng-show="selectedParty" ng-click="goBack()" style="margin-top:10px; width: 100%;" class="ui button">
    Back
</div>

<div ng-show="selectedParty" style="text-align: center;padding-bottom:30px; width:80%;max-width:700px;margin:0 auto;">
    <img ng-src="{{selectedParty.image}}" style="width:50px;height:auto">
    <div style="width: 100%; text-align:center;">
        <h3>{{ selectedParty.name }}</h3>
    </div>

    <div ng-show="selectedParty.support" style="padding-top:10px; text-align:center">
        {{ selectedParty.support }}% Current support in the UK
    </div>

    <div ng-hide="!selectedParty.twitterProfile" style="padding-top:10px; text-align:center">
        <a target="_blank" ng-href="https://twitter.com/{{ candidate.twitterProfile.screen_name.toLowerCase() }}">@{{ selectedParty.twitterProfile.screen_name }}</a> {{ selectedParty.twitterProfile.followers_count }} followers
    </div>

    <div ng-hide="!selectedParty.twitterProfile" style="padding-top:10px; text-align:center">
        <i class="twitter icon"></i> {{ selectedParty.twitterProfile.status.text }}
    </div>

    <div style="padding-top:10px; text-align:center">
        <a target="_blank" ng-href="{{selectedParty.url}}">{{ selectedParty.url }}</a>
    </div>

    <table ng-show="selectedParty.topics.length > 0" style="width: 100%; margin: 15px auto; text-align:center" class="ui table">
        <thead>
            <tr>
                <th style="text-align:center;">Topic</th>
                <th style="text-align:center;">Trust</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="topic in selectedParty.topics">
                <td style="text-align:center;">{{ topic.Topic }}</td>
                <td style="text-align:center;">{{ topic.TopicalTrustFlow+1 }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-top: 10%; text-align:center;width:100%;">
    <a target="_blank" href="http://darrengilbert.rocks">DG</a>&nbsp;&amp;&nbsp;<a target="_blank" href="http://maxjmay.co.uk">MJM</a>&nbsp;&amp;&nbsp;<a target="_blank" href="http://my.linkedin.com/pub/jun-yuan-ng/76/506/111">JYN</a>
    <br>
    <a target="_blank" href="http://facebook.com/edulect"><f class="fa fa-facebook"></i></a>&nbsp;<a target="_blank" href="http://twitter.com/edulect"><f class="fa fa-twitter"></i></a>
    <br>
    <a href="mailto:admin@edulect.co.uk">admin@edulect.co.uk</a>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61528784-1', 'auto');
  ga('send', 'pageview');

</script>