<div class="ui menu">
    <a ng-href="/" class="item">
        Home
    </a>
    <div class="right menu">

    </div>
</div>
<div style="text-align:center;">
	<div class="ui header">
		FAQ
	</div>

	<strong>
		Where does the candidate information come from?
	</strong>
	<br>
	<span>
		The candidate information comes from a website called YourNextMP.
	</span>
	<br><br>
	<strong>
		Where does the candidates impact and topic data come from?
	</strong>
	<br>
	<span>
		We use the Majestic API, which takes an MP's website and analyses the backlinks related it to it. 
	</span>
	<br><br>
	<strong>
		What makes our webiste unbiased?
	</strong>
	<br>
	<span>
		We have chosen a neutral colour for the website so that we have no affiliation to any party. Also, the candidates are loaded in a completely random order. 
	</span>
</div>

<div style="margin-top: 10%; text-align:center;width:100%;">
    <a target="_blank" href="http://darrengilbert.rocks">DG</a>&nbsp;&amp;&nbsp;<a target="_blank" href="http://maxjmay.co.uk">MJM</a>&nbsp;&amp;&nbsp;<a target="_blank" href="http://my.linkedin.com/pub/jun-yuan-ng/76/506/111">JYN</a>
    <br>
    <a target="_blank" href="http://facebook.com/edulect"><f class="fa fa-facebook"></i></a>&nbsp;<a target="_blank" href="http://twitter.com/edulect"><f class="fa fa-twitter"></i></a>
    <br>
    <a href="mailto:admin@edulect.co.uk">admin@edulect.co.uk</a>
</div>