<div class="ui menu">
    <a ng-href="/" class="item">
        <i class="home icon"></i>
        Home
    </a>
    <div class="right menu">

    </div>
</div>
<div style="text-align:center;">
	<div class="ui header">
		FAQ
	</div>

	<strong>
		Where did this app begin?
	</strong>
	<span>
		We first started developing the application at BrumHack. It was after we won a prize for the best use of the Bloomberg API that we decided to try and release it as a website, as well as Android and iPhone application.
	</span>
	<br>
	<strong>
		Where does the candidate information come from?
	</strong>
	<span>
		The candidate information comes from a website called YourNextMP.
	</span>
	<br>
	<strong>
		Where does the candidates trust and topic data come from?
	</strong>
	<span>
		We use the Majestic API, which takes a web link, and ...
	</span>
</div>
